<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="pass" connectionString="data source=taniya-pg2-2220;initial catalog=Online_Examination;integrated security=true" />
    <add name="Online_ExaminationConnectionString" connectionString="Data Source=C:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL;Initial Catalog=online examination;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
